<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <form action="<?=url('addInfinite') ?>" method="POST" class="form-horizontal" role="form" onsubmit="return false;">
        <div class="form-group">
            <label for="inputPid" class="col-sm-2 control-label">上级分类</label>
            <div class="col-sm-4">
                <select name="pid" id="inputPid" class="form-control">
                    <option value="0" <?=$exists&&$detail['pid']==0?'selected':'' ?>>一级分类</option>
                    <?php foreach ($categories as $v): ?>
                    <option value="<?=$v['id'] ?>" <?=$exists&&$detail['pid']==$v['id']?'selected':'' ?>><?=$v['indentation'].$v['cate_name'] ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCate_name" class="col-sm-2 control-label">分类名</label>
            <div class="col-sm-4">
                <input type="text" name="cate_name" id="inputCate_name" class="form-control" value="<?=$exists?$detail['cate_name']:'' ?>">
            </div>
        </div>
        <?php if ($inputIcon): ?>
            <div class="form-group">
                <label for="input" class="col-sm-2 control-label">图标</label>
                <div class="col-sm-4">
                    <img src="<?=$exists&&$detail['icon']?$detail['icon']:'/static/dist/img/add-img.png' ?>" class="img-thumbnail" id="img-origin" style="cursor:pointer;max-width:200px;" onclick="$('#file-origin-img').trigger('click')">
                    <input type="file" name="file" accept="image/gif,image/jpeg,image/jpg,image/png" id="file-origin-img" class="hide" onchange="uploadImg(this.files[0], '#img-origin', '#hidden-origin-img')">
                    <input type="hidden" name="icon" id="hidden-origin-img" value="<?=$exists?$detail['icon']:'' ?>">
                </div>
            </div>
        <?php endif; ?>
        <div class="form-group">
            <label for="inputSorted" class="col-sm-2 control-label">排序值</label>
            <div class="col-sm-4">
                <input type="number" name="sorted" id="inputSorted" class="form-control" value="<?=$exists?$detail['sorted']:50 ?>">
                <p class="help-block">值越小，排序越前。取值范围：0 ~ 126</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <input type="hidden" name="id" value="<?=$exists?$detail['id']:'' ?>">
                <button type="submit" class="btn btn-primary btn-flat" onclick="formSubmit(this)">提交</button>
                <button type="button" class="btn btn-default btn-flat col-sm-offset-2" onclick="history.back(-1)">返回</button>
            </div>
        </div>
    </form>
</section>

<script>
    var requestUrl = {
        index : "<?=url('index') ?>",
    };
    /** 提交表单 */
    function formSubmit(obj) {
        var $form = $(obj).closest('form');
        $.post($form.attr('action'), $form.serializeArray(), function(res){
            if (res.code) {
                bayMax.msg(res.msg, function(){
                    $.pjax({ url : requestUrl.index, container: '#pjax-container'});
                });
            } else {
                bayMax.warning(res.msg)
            }
        }, 'json');
    }
    /**
     * ajax FormData 文件上传
     * @param  {object}   file 文件对象
     * @param  {Function} done 上传完成回调函数
     */
    function ajaxImageUpload(file, done) {
      var form = new FormData();
      form.append('file', file);

      $.ajax({
        url : '/admin/upload/image.html',
        type : 'POST',
        cache : false,
        data : form,
        processData : false,
        contentType : false
      }).done(done);
    }

    /** 上传 icon */
    function uploadImg(file, img, hidden) {
        ajaxImageUpload(file, function(res){
            if (res.code) {
              var imgSrc = '/uploads/'+res.data.savename.replace('\\','/');
              $(img).attr('src', imgSrc);
              if (typeof hidden == 'function') {
                hidden();
              } else {
                $(hidden).val(imgSrc)
              }
            } else {
              bayMax.warning(res.msg)
            }
        })
    }
</script>