<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-body">
            <form class="form-horizontal" id="designer">
                <div class="form-group">  
                    <label  for="inputName" class="col-sm-2 control-label">设计师名字:</label>
                    <div class="col-sm-8">
                        <input id=""  type="text" name="name" value="{$list.name}" class="form-control" id="inputEmail3" placeholder="请输入设计师名字">
                    </div>
                </div> 
                <div class="form-group">
                    <label for="inputImg" class="col-sm-2 control-label">设计师图片:</label>
                    <div class="col-sm-8">
                        <input id="goods_image" name="head_img" type="file"  class="file-loading">
                    </div>
                </div>
                <div class="form-group">  
                    <label  for="inputName" class="col-sm-2 control-label">设计师级别:</label>
                    <div class="col-sm-8">
                        <input id=""  type="text" value="{$list.rank}" name="rank" class="form-control" id="inputEmail3" placeholder="请输入设计师级别">
                    </div>
                </div> 
                <div class="form-group">  
                    <label  for="inputName" class="col-sm-2 control-label">设计师简介:</label>
                    <div class="col-sm-8">
                        <input id=""  type="text" value="{$list.introduce}" name="introduce" class="form-control" id="inputEmail3" placeholder="请输入设计师简介">
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button onclick="javascript:history.back(-1);" type="button" class="btn btn-default " data-dismiss="modal">返回</button>
                        <button type="button" onclick="handle.add()"  class="btn btn-primary pull-right">保存</button>
                    </div>
                </div>
                <div >
                <input type="hidden" name="id" value="{$list.id}">
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">

    var requestUrl = {
        add : "{:url('Designer/editDesigner')}",
        lists : "{:url('Designer/index')}",
        upload : "{:url('Upload/designerImage')}"
    };



    var filePath = {
        goodsImage: "{$list['head_img']}"
    };

    function upload_image(dom, name, max, options = {})
    {   
        var image = '<img src="'+filePath.goodsImage+'" class="file-preview-image" alt="" title="" width="150px">';
        param = {
            language: 'zh', //设置语言
            uploadUrl: requestUrl.upload + '?fieldName=' + name, //上传的地址
            allowedFileExtensions : ['jpg','jpeg','png','gif'],//接收的文件后缀
            maxFileSize: 2097152,//2M
            maxFileCount : max,
            previewSettings:{
                image: {width: "120px", height: "120px"},
            },
            initialPreview: image,
            initialPreviewShowDelete: true,
        }
        if(options){
            param = $.extend(param, options);
        }
        dom.fileinput(param).on('fileuploaded', function(event, file, previewId, index, reader) {
            if(file.response.code){
                filePath.goodsImage = file.response.data;
            }else{
                bayMax.warning(file.response.msg);
            }
        });
    }
    upload_image($('#goods_image'), 'head_img', 1);


    var handle = {
        add : function(){
            var data = $('#designer').serializeArray();
            data.push({name:'head_img',value:filePath.goodsImage});
            console.log(data); 
            $.post(requestUrl.add,data,function(e){
                 if(e.code==1){
                    bayMax.msg(e.msg,function(){
                        $.pjax({ url: requestUrl.lists , container: '#pjax-container'});
                    });
                }else{
                    bayMax.warning(e.msg);
                }
            })
        }
    };

   
</script>