<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/jquery.bxslider.css">
    <script type="text/javascript" src='/static/index/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/static/index/js/zui.min.js'></script>
    <script type="text/javascript" src='/static/index/js/jquery.bxslider.js'></script>
</head>
<body>
<!-- 头部 -->
    <header>
    <div class="logo">
        <img src="/static/index/img/logo.png" alt=""><span>黑白调建筑装饰工程有限公司</span>
    </div>
    <!-- 860px以上显示 -->
        <ul class="header-nav">
            <li><a href="{:url('About/index')}">关于我们</a></li>
            <li><a href="{:url('Evaluation/index')}">装修估价</a></li>
            <li><a href="{:url('Designer/index')}">设计师简介</a></li>
            <li><a href="{:url('Material/index')}">材料展示</a></li>
            <li><a href="{:url('Index/index')}">首页</a></li>
        </ul>
        <!-- 860px一下显示 -->
        <ul class="nav nav-primary drop-list">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="your/nice/url">关于我们<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{:url('Index/index')}">首页</a></li>
              <li><a href="{:url('Material/index')}">材料展示</a></li>
              <li><a href="{:url('Designer/index')}">设计师简介</a></li>
              <li><a href="{:url('Evaluation/index')}">装修估价</a></li>
              <li><a href="{:url('About/index')}">关于我们</a></li>
            </ul>
          </li>
        </ul>
        <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
          <!-- 圆点指示器 -->
          <ol class="carousel-indicators">
            <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myNiceCarousel" data-slide-to="1"></li>
            <li data-target="#myNiceCarousel" data-slide-to="2"></li>
          </ol>

      <!-- 轮播项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <img alt="First slide" src="/static/index/img/lunbo_1.png">
        </div>
        <div class="item">
          <img alt="Second slide" src="/static/index/img/lunbo_2.png">
        </div>
        <div class="item">
          <img alt="Third slide" src="/static/index/img/lunbo_1.png">
        </div>
      </div>

      <!-- 项目切换按钮 -->
        <span class="iconfont icon-left lunbo-left" data-slide="prev" href="#myNiceCarousel"></span>
        <span class="iconfont icon-right lunbo-right" data-slide="next" href="#myNiceCarousel"></span>
    </div>
    </header>
    <div class="content">
        <p class="brand-title">品牌 BRAND</p>
        <div class="slider3">
        {foreach $brand as $v}
	      <a href="{:url('Material/index', ['brand_id'=>$v['id']])}" class="slide"><img src="{$v.logo}" alt=""></a>
	       {/foreach}
    	</div>
    </div>
    <!-- 估价入口 -->
    <div class="entry">
        <div>
        <a href="{:url('Evaluation/index')}" title="">
            我要估价
        </a>
        </div>
    </div>
<!-- 尾部 -->
    <!-- 860px以上显示 -->
    {include file="public/footer" /}
</body>
<script type="text/javascript">

$(document).ready(function(){

          $('.slider3').bxSlider({

            slideWidth: 200,

            minSlides: 2,

            maxSlides: 4,

	  moveSlides: 1,

            slideMargin: 5

          });

        });
</script>
</html>