<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>户型名称</th>
                        <th>墙面面积(㎡)</th>
                        <th>地面面积(㎡)</th>
                        <th>顶面面积(㎡)</th>
                        <th>周长(m)</th>
                        <th>总面积(㎡)</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $data as $v}
                    <tr>
                        <td>{$v.name}</td>
                        <td><input type="number" name="wall_area" class="form-control input-xs" value="{$v.wall_area}" onblur="update_value(this,{$v.id})"></td>
                        <td><input type="number" name="floor_area" class="form-control input-xs" value="{$v.floor_area}" onblur="update_value(this,{$v.id})"></td>
                        <td><input type="number" name="top_area" class="form-control input-xs" value="{$v.top_area}" onblur="update_value(this,{$v.id})"></td>
                        <td><input type="number" name="perimeter" class="form-control input-xs" value="{$v.perimeter}" onblur="update_value(this,{$v.id})"></td>
                        <td><input type="number" name="total_area" class="form-control input-xs" value="{$v.total_area}" onblur="update_value(this,{$v.id})"></td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    var requestUrl = {
        setField: "{:url('ApartmentLayout/updateField')}",
    };
    function update_value (obj, id){
        var field = $(obj).attr('name');
        var value = $(obj).val();
        $.post(requestUrl.setField, {id:id,field:field,value:value}, function (re){
            if (re !== 0 && !re){
                bayMax.warning('保存失败');
            }
        });
    }
</script>