<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/aboutus.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/icon/iconfont.css">
    <script type="text/javascript" src='/static/index/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/static/index/js/zui.min.js'></script>
</head>
<body>
<!-- 头部 -->
    {include file="public/nav" /}
<!-- 尾部 -->
<!-- content -->
    <div class="content">
        <div class="content-left">
            <img src="/static/index/img/aboutus_02.png" width="100%" height="640px">
        </div>
        <div class="content-right">
            {$usInfo.about_us}
        </div>
    </div>
    {include file="public/footer" /}
</body>
<script type="text/javascript">
</script>
</html>