<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/aboutus.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/icon/iconfont.css">
    <script type="text/javascript" src='/static/index/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/static/index/js/zui.min.js'></script>
</head>
<body>
<!-- 头部 -->
    {include file="public/nav" /}
<!-- 尾部 -->
<!-- content -->
    <div class="content">
        <div class="content-left">
            <img src="/static/index/img/aboutus_02.png" width="100%" height="640px">
        </div>
        <div class="content-right">
            <h2>关于我们 About us</h2>
            企业精神：真诚，专业，服务，独立特性<br>
            企业宗旨：以人为本，过程精品，全程无忧<br>
            企业愿景：成为中国居家文化产业卓越集成商<br>
            我们的口号是：让装修成为一种潮流，让回家成为一种诱惑
            <p>
                公司简介：公司成立于1997年，迄今已有十年的岁月，我们一如既往的做好每一项工作，让客户满是我们共同的目标四川恒易讯网络科技有限公司【简称：恒易迅】是一家专业从事电子商务平台建设与软件开发的高薪技术企业。公司正式成立于2012年4月，一直致力于优质、高效的智能化软件研发，以及便捷的电子商务应用平台建设。恒易迅一直秉承“专注、专业、诚信、创新”的经营理念，倾力打造中国领先的数字便民服务电子商务平台【咔吧网 cz.kaobapay】，让百姓生活更简单。目前公司已拥有一支经验丰富的核心运营团队，具有强大软件开发能力的技术团队以及完善的售后服务团队。
            </p>
        </div>
    </div>
    {include file="public/footer" /}
</body>
<script type="text/javascript">
</script>
</html>