<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/stuff.css">
    <script type="text/javascript" src='/static/index/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/static/index/js/zui.min.js'></script>
    <script type="text/javascript" src="/static/index/js/handle.js"></script>
</head>
<body>
<!-- 头部 -->
    {include file="public/nav" /}
    <!--banner-->
    <div class="banner">
		<img src="/static/index/img/stuff_1.png" alt="">
	</div>
	<!--主体部分-->
	<div class="material-main">
		<div class="title">主材展示<span>Decorative Materials</span></div>
		<nav class="navbar" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
		        <span class="sr-only">切换导航</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		     <a class="navbar-brand" href="">类别</a>
		    </div>
		    <div class="collapse navbar-collapse navbar-collapse-example">
		      <ul class="nav navbar-nav">
                {foreach $data.brand as $v}
		        <li class="active"><a href="">{$v.name}</a></li>
                {/foreach}
		      </ul>
		    </div>
		  </div>
		</nav>
		<nav class="navbar" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
		        <span class="sr-only">切换导航</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		     <a class="navbar-brand" href="">品牌</a>
		    </div>
		    <div class="collapse navbar-collapse navbar-collapse-example">
		      <ul class="nav navbar-nav">
                {foreach $data.cate as $v}
		        <li class="active"><a href="">{$v.cate_name}</a></li>
                {/foreach}
		      </ul>
		    </div><!-- END .navbar-collapse -->
		  </div>
		</nav>
		<div class="product">
			<div class="product-box">
                {foreach $data.data as $v}
				<div class="product-list">
					<img src="{$v.cover}" alt="">
					<div>
						<div class="shade"></div>
						<div class="product-sum">
							<h5>{$v.title}</h5>
							<p>{$v.summary}</p>
							<div>￥<span>{$v.price}</span>/m</div>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" onclick="handle.getDetail({$v.id}, '{:url('Material/getDetail')}')">查看详情</a>
						</div>
					</div>
				</div>
                {/foreach}
			</div>
		</div>
	</div>
	<!--产品详情-->
	<div class="modal fade" id="myModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title" id="modal-title-data">LD地砖详情介绍</h4>
	      </div>
	      <div class="modal-body">
	        <div class="banner" id="banner-data">
	        	<img src="/static/index/img/stuff-detail_03.png" alt="">
	        	<div class="detail">
					<div class="shade"></div>
					<div class="product-sum">
						<h5>JMC88829土耳其古堡</h5>
						<p>手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰</p>
						<div>￥<span>128.00</span></div>
					</div>
				</div>
	        </div>
	        <div class="detail-box" id="detail-data">
	        	<div class="detail-left">
	        		<h5>JMC88829土耳其古堡</h5>
	        		<p>手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰</p>
	        		<img src="/static/index/img/stuff-detail_10.png" alt="">
	        	</div>
	        	<div class="detail-right">
	        		<img src="/static/index/img/stuff-detail_07.png" alt="">
	        		<h5>JMC88829土耳其古堡</h5>
	        		<p>手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰手机哈桑就发顺丰</p>	        		
	        	</div>
	        </div>	        
	      </div>
          <?php if(isset($param['choose_material']) && $param['choose_material']):?>
      	<div class="import-box">
        	数量：<input type="number" />个/套
        	<a href="javascript:void(0);">确定</a>
        </div>
	        <?php endif;?>
	      </div>
	    </div>
	  </div>
	</div>
		
	<!-- 尾部 -->
    <!-- 860px以上显示 -->
    {include file="public/footer" /}
</body>
<script type="text/javascript">
var handle = new auxiliary();
</script>
</html>