<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/icon/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/stuff.css">
    <script type="text/javascript" src='/static/index/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/static/index/js/zui.min.js'></script>
    <script type="text/javascript" src="/static/index/js/handle.js"></script>
</head>
<body>
<!-- 头部 -->
    {include file="public/nav" /}
    <!--banner-->
    <div class="banner">
		<img src="/static/index/img/stuff_1.png" alt="">
	</div>
	<!--主体部分-->
	<div class="material-main">
		<div class="title">主材展示<span>Decorative Materials</span></div>
		<nav class="navbar" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
		        <span class="sr-only">切换导航</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		     <a class="navbar-brand" href="">类别</a>
		    </div>
		    <div class="collapse navbar-collapse navbar-collapse-example">
		      <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:;" onclick="handle.materialQurey('{:url('Material/materialQuery')}', 'cate_id', 0, this,'{:url('Material/getDetail')}')">全部</a></li>
                {foreach $data.cate as $v}
		        <li><a href="javascript:;" onclick="handle.materialQurey('{:url('Material/materialQuery')}', 'cate_id', {$v.id}, this,'{:url('Material/getDetail')}')">{$v.cate_name}</a></li>
                {/foreach}
		      </ul>
		    </div>
		  </div>
		</nav>
		<nav class="navbar" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
		        <span class="sr-only">切换导航</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		     <a class="navbar-brand" href="">品牌</a>
		    </div>
		    <div class="collapse navbar-collapse navbar-collapse-example">
		      <ul class="nav navbar-nav" id="brand-list">
                <li class="active"><a href="javascript:;" onclick="handle.materialQurey('{:url('Material/materialQuery')}', 'brand_id', 0, this,'{:url('Material/getDetail')}')">全部</a></li>
                {foreach $data.brand as $v}
		        <li><a href="javascript:;" onclick="handle.materialQurey('{:url('Material/materialQuery')}', 'brand_id', {$v.id}, this,'{:url('Material/getDetail')}')">{$v.name}</a></li>
                {/foreach}
		      </ul>
		    </div><!-- END .navbar-collapse -->
		  </div>
		</nav>
        <nav class="navbar" role="navigation" id="series-nav" style="display:none">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand" href="">系列</a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-example">
              <ul class="nav navbar-nav" id="series-list"></ul>
            </div><!-- END .navbar-collapse -->
          </div>
        </nav>
		<div class="product">
			<div class="product-box" id="material-list">
                {foreach $data.data as $v}
				<div class="product-list">
					<img src="{$v.cover}" alt="">
					<div>
						<div class="shade"></div>
						<div class="product-sum">
							<h5>{$v.title}</h5>
							<p>{$v.summary}</p>
							<div>￥<span>{$v.price}</span>/m</div>
							<a href="javascript:;" data-toggle="modal" data-target="#myModal" onclick="handle.getDetail({$v.id}, '{:url('Material/getDetail')}')">查看详情</a>
						</div>
					</div>
				</div>
                {/foreach}
			</div>
		</div>
	</div>
	<!--产品详情-->
	<div class="modal fade" id="myModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title" id="modal-title-data">LD地砖详情介绍</h4>
	      </div>
	      <div class="modal-body">
	        <div class="banner" id="banner-data"></div>
	        <div class="detail-box" id="detail-data"></div>	        
	      </div>
          <?php if(isset($param['choose_material']) && $param['choose_material']):?>
      	<div class="import-box">
            <form action="{:url('Material/setMaterial')}" method="get">
            	数量：<input type="number" name="num" id="material-num" value="1" />个/套
                <input type="hidden" name="id" value="">
                <input type="hidden" name="area_id" value="{$param['area_id'] ?? ''}">
                <input type="hidden" name="layout_id" value="{$param['layout_id'] ?? ''}">
                <input type="hidden" name="estate_id" value="{$param['estate_id']}">
            	<a href="javascript:void(0);" onclick="handle.clickConfirm(this)">确定</a>
            </form>
        </div>
	        <?php endif;?>
	      </div>
	    </div>
	  </div>
	</div>
		
	<!-- 尾部 -->
    <!-- 860px以上显示 -->
    {include file="public/footer" /}
</body>
<script type="text/javascript">
var handle = new loadHtml();
</script>
</html>