<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <form action="<?=url('getData') ?>" method="POST" class="form-horizontal" role="form">
        <?=$form ?>
        <button type="submit" class="btn btn-primary" onclick="bayMax.submitClick(this)">Submit</button>
    </form>

    <img src="/static/dist/img/add-img.png" id="img-upload" class="img-thumbnail" alt="Image" width="200">

    <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Trigger modal</a>
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="<?=url('getData') ?>" method="POST" class="form-horizontal" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <?=$form ?>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="modal-submit" onclick="bayMax.modalSubmitClick(this, null, null, false)">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<script>
    $("#img-upload").on('click', function(){
        var $obj = $(this);
        bayMax.uploadImg(function(res){
            if (res.code) {
                $obj.attr('src', '/uploads/'+res.data.savename)
            }
        });
    })

    $(function(){
        bayMax.pluginInit.icheck(':radio,:checkbox')
    })

    /*$('#modal-submit').click(function(){
        var $btn = $(this)
        bayMax.modalSubmitClick(this, null, function(res){
            $btn.prop('disabled', false)
            console.log(res)
        })
    })*/

    /*$(':submit').on('click', function(){
        bayMax.submitClick(this, null, function(res){
            console.log(res)
        })
    })*/
</script>
