<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/zui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/designer.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/icon/iconfont.css">
    <script type="text/javascript" src='/static/index/js/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/static/index/js/zui.min.js'></script>
</head>
<body>
<!-- 头部 -->
    {include file="public/nav" /}
<!-- content -->
<div class="content">
    <div class="designer-main">
        <img src="/static/index/img/designer_1.png">
    </div>
    <div class="word-content">
        <p>设计师 Designer</p>
        <p>设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师设计师</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 oher-designer">
        <img src="/static/index/img/designer_2.png" class="designer-img">
        <div class="designer-detail">
            <p>zhangxinyan</p>
            <p>高级设计师</p>
            <p>高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师</p>
            <p><a href="TAworks.html">Ta的作品</a></p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 oher-designer">
        <img src="/static/index/img/designer_3.png" class="designer-img">
        <div class="designer-detail">
            <p>zhangxinyan</p>
            <p>高级设计师</p>
            <p>高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师</p>
            <p><a href="TAworks.html">Ta的作品</a></p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 oher-designer">
        <img src="/static/index/img/designer_4.png" class="designer-img">
        <div class="designer-detail">
            <p>zhangxinyan</p>
            <p>高级设计师</p>
            <p>高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师</p>
            <p><a href="TAworks.html">Ta的作品</a></p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 oher-designer">
        <img src="/static/index/img/designer_5.png" class="designer-img">
        <div class="designer-detail">
            <p>zhangxinyan</p>
            <p>高级设计师</p>
            <p>高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师高级设计师</p>
            <p><a href="TAworks.html">Ta的作品</a></p>
        </div>
    </div>
    </div>
    <div style="clear: both;"></div>
</div>
<!-- 尾部 -->
    {include file="public/footer" /}
</body>
<script type="text/javascript">
</script>
</html>