<!-- 860px以上显示 -->
    <footer id="footer-pc">
        <div class="footer-left">
            <img src="/static/index/img/logo.png"><br>
            <img src="/static/index/img/bottom_logo.png" alt="">
        </div>
        <div class="footer-center">
            <p class="address"><i class="iconfont icon-address"></i><span>宜宾翠屏区南岸南丝绸路吉祥名都3幢负一层</span></p>
            <p class="phone"><i class="iconfont icon-phone"></i><span>联系电话：18200443549</span></p>
        </div>
        <div class="footer-right">
            <img src="/static/index/img/qrcode_for_gh_8866f2682fd8_258.jpg">
        </div>
        <div class="footer-bottom">
                成都咔吧科技有限公司&emsp;蜀ICP备150220285号&emsp;©&emsp;2015&emsp;dianjinzi，inc.All rights reserved.
        </div>
    </footer>
    <!-- 860px以下显示 -->
    <footer id="footer-phone">
        <p class="address"><i class="iconfont icon-address"></i><span>宜宾翠屏区南岸南丝绸路吉祥名都3幢负一层</span></p>
        <p class="phone"><i class="iconfont icon-phone"></i><span>联系电话：18200443549</span></p>
        <p>成都咔吧科技有限公司&emsp;蜀ICP备150220285号&emsp;©&emsp;2015&emsp;dianjinzi，inc.All rights reserved.</p>
    </footer>