<!-- 860px以上显示 -->
    <footer id="footer-pc">
        <div class="footer-left">
            <img src="/static/index/img/logo.png"><br>
            <img src="/static/index/img/bottom_logo.png" alt="">
        </div>
        <div class="footer-center">
            <p class="address"><i class="iconfont icon-address"></i><span>{$usInfo.address}</span></p>
            <p class="phone"><i class="iconfont icon-phone"></i><span>{$usInfo.phone}</span></p>
        </div>
        <div class="footer-right">
            <img src="{$usInfo.qrcode}">
        </div>
        <div class="footer-bottom">
                {$usInfo.remark}
        </div>
    </footer>
    <!-- 860px以下显示 -->
    <footer id="footer-phone">
        <p class="address"><i class="iconfont icon-address"></i><span>{$usInfo.address}</span></p>
        <p class="phone"><i class="iconfont icon-phone"></i><span>{$usInfo.phone}</span></p>
        <p>{$usInfo.remark}</p>
    </footer>